body{ 
    font-family: Arial, Helvetica, Sans-Serif; 
    background-color: #CCFFFF;
    font-size: 90%;
 }
 .navbar{
     background-color: #00BBFF;
 }

 .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }